/* Color scheme for the page*/
:root {
    --gray: #dfdbe2;
    --darkpurple: #240350;
    --violet: #6455f1;
    --white:#fff;

}

/* styling for the highscore buttom */
#high-score{
    float: left;
    font-size: 30px;
    color: var(--darkpurple);
    border: none;
    background-color: var(--gray);
}

#timer{
    float: right;
    font-size: 30px;
    color: var(--darkpurple);
}

/* where the timer and highscore button are */
header{
    margin:1%;
    padding: 2%;
}

body {
    background-color: var(--gray)
}
 
p{
    font-size: 16px;
    line-height: 1.5em;
}


#start-button{
    font-size: 40px;
    border-color: var(--violet);
}

/* Holds the start button and the quiz*/
.quiz-container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: block;
    overflow: auto;
    background-color: var(--white);
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    
}
 
h1 {
    font-family: "sans-serif";
    background-color: var(--darkpurple);
    font-size: 60px;
    text-align: center;
    color: var(--white);
    padding: 2px 0px;
    
}
 
.quiz-container #question {
    font-family: "monospace";
    font-size: 30px;
    color: #7801ff;
}

/* Answer buttons*/
.buttons {
    margin-top: 30px;
}
 
.buttons button {
    background-color: var(--violet);
    width: 250px;
    font-size: 20px;
    color: var(--white);
    border: 1px solid var(--darkpurple);
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
 
#btnA:hover, #btnB:hover, #btnC:hover, #btnD:hover {
    cursor: pointer;
    background-color: var(--violet);
}
 
#btnA:focus, #btnB:focus, #btnC:focus, #btnD:focus {
    outline: 0;
}
 
/* styling for whether the answer was right or wrong */
#correct {
    font-size: 12px;
}